/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 960px;
    background-image: Url(../IMG/Background2.jpg);
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #00164C;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    width: 956px;
    height: 30px;
    background-color: white;
    border: 2px none black;
    color: black;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:white;
    width:956px;
    border: 2px outset black;
}

div.menu
{
    padding: 0px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: white;
    border: 1px #4e667d solid;
    color: black;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px 10px 0px 10px;
    color: White;
    background-color: #00164C;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}


.btnAll
{
    margin-top: 95px;
    margin-bottom: 20px;
    margin-right: 20px;
    font: normal 12px arial, sans-serig;
    width: 100px;
    height: 50px;
    float: right;
}

.Content
{
     
}
/*--Rapport Intro sidan--*/
  div.ContentWrapperIntro
  {  
     width: 50%;
     overflow: hidden;
     background: #fff;
     margin-left: auto;
     margin-right: auto;
  }
  
   .ContentMissionInfo
 {
    border: 2px solid pink;
    margin: 5px 25px 5px 5px;
    width: 275px;
    float: left;
        
 }
/*--Slut på rapport intro sidan--*/

/*------ Rapport-sidan --------*/



 div.ContentWrapper
 {  
     height: 100%;
     width: 100%;
     overflow: hidden;
     background: #fff;
  }
 
 div.ContentLeft
 { 
    float: left;
    width: 70%;
    height: 60%;
    border: 1px solid red;
    
 }
 
 div.ContentRight
 {   
    float: left;
    width: 28%;
    height: 100%;
    border: 1px solid green;
    margin:auto;
 }
 
 div.CarDiv
 {
     border: 1px solid black;
     
     margin-left: 2%;
     margin-bottom:5%;
     height: 10%;
 }

div.SubsistenceDiv
{
    border: 1px solid black;
    
    height: 35%;
    margin-left:2%;
    margin-bottom:5%;
}

div.ReceiptDiv
{
    border: 1px solid black;
    height: 20%;
    margin-left:2%;
    margin-bottom:5%;
    clear:both;
}    
  
 div.ContentFooterLeft
 {
     width: 30%;
     margin-bottom: 2%;
     float: left;
     border: 1px solid black;
 }
 div.ContentFooterRight
 {
     width: 60%;
     padding-top:6%;
     float: left;
     border: 1px solid green;
 }
 
 .CalendarFromDiv
 {
     width:60%;
     float:left;
 }
 
 .CalendarToDiv
 {
     width:60%;
     float:left;
 }
 .BtnAddTract
 {
 float:right;
 margin-left:5%;    
 
 }
 
  div.GWDiv
 {
     text-align: center;
     border: 1px solid blue;
 }
 
 .NoLineBreak
 {
     display: inline;
     height: 20px;
     width: 20px;
 }
 
 p.ClearFix
 {
     clear:both;
 }
 
 .ContentMissionInfo
 {
    border: 2px solid pink;
    margin: 5px 25px 5px 5px;
    width: 275px;
    float: left;
        
 }
 
 div.ContentAbnormalTravel
 {
    width: 90%;
    height: 100px;
    border: 2px solid pink;
    margin: 5px 5px 5px 5px;
 }

.lblBold
{
font-weight: bold;    
}
/*--Avslutar Rapport sidan--*/
/*--Start Felix och Esams adminsidor--*/
div.List
{
    display:inline;
    float:left;
    position:relative;
    margin-left: 50px;
    top: 0px;
    left: 0px;
    width: 256px;
}
    
div.FormWrap
{
    display:inline;
    float:left;
    position:relative;
    width:486px;
    top: 0px;
    left: 0px;
    background-color: #C8DCFE;
}
div.Form
{
    margin-left: 50px;
    width:191px;
    display:inline;
    float:left;
    position:relative;
    background-color: #C8DCFE;
    top: 0px;
    left: 0px;
}
div.btnDiv
{
    display:inline;
    float:right;
    position:relative;
    width: 185px;
    top: 0px;
    left: 0px;
}
div.btnRow
{
    width:165px;
    margin-right: 50px;
    display:inline;
    float:left;
    position:relative;
}

.ButtonSpace
{
    margin-left: 50px;
}


/*--SLUT Felix och Esams adminsidor--*/

/*RapportSammanställning Page*/

.Consult_LeftContent
{
    width: 550px;
    height: 150px;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.Consult_LeftContentWrapper
{
    width: 560px;
    height: 500px;
    border: 1px solid black;
    float: left;
    margin-top: 5px;
}

.Consult_RightContent
{
    width: 250px;
    height: 450px;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 5px;
}

.Consult_RightContentWrapper
{
    width: 260px;
    height: 500px;
    border: 1px solid black;
    float: left;
    margin-top: 5px;
    margin-left: 50px;
}

.Consult_DisBlock
{
    display: block;
    font-family: Georgia, Sans-Serif;
    margin-left: 5px;
}

.Consult_DisInline
{
    display: inline;
    font-family: Georgia, Sans-Serif;
    margin-left: 5px;
}

#Consult_ReportHeader
{
    font-weight: bold;
    font-size: 20px;
    font-family: Georgia, Sans-Serif;
    text-align: center;
}

.Consult_ReportHeaderText
{
    width: 100%;
    height: auto;
    border: 2px solid black;
}


#Expense_Header
{
    font-family: Georgia, Sans-Serif;
    text-align: center;
}


